azure-cognitiveservices-language-textanalytics==0.2.0
azure-common==1.1.23
Django==2.2.4
djangorestframework==3.10.2
msrest==0.6.9
numpy==1.17.0
oauthlib==3.1.0
opencv-python==3.4.7.28
Pillow==6.1.0
python-dateutil==2.8.0
pytz==2019.2
requests==2.22.0
requests-oauthlib==1.2.0
sqlparse==0.3.0
tqdm==4.34.0
urllib3==1.25.3
websocket-client==0.48.0
Werkzeug==0.15.5
